html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  font-size: .9rem;
  /*0px 5px 20px 4px rgba(0,0,0,.35)*/
}

@media (max-width: 767px) {
  body {
    align-items: flex-start;
  }
}

.background-bg:before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  content: "";
  background: url('/assets/img/background-bodyguard.png') #fff no-repeat top;
  filter: blur(5px);
  z-index: -1;
}

.background-bg {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}

html.swal2-shown main.container{
  opacity: 0;
}

/* Login */

.login-wrapper {
  border: 0;
  padding: 0 2.5rem;
  transition: padding 1s ease;
  box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.35);
}

@media (max-width: 991px) {
  .login-wrapper {
    padding: 0
  }
}

.login-logo {
  text-align: center;
  margin-bottom: 2.25rem;
}

.login-logo img {
  height: 90px;
  transition: height 1.5s ease;
}


@media (max-width: 575px) {
  .login-logo img {
    height: 72px;
  }
}

.form-group {
  margin-bottom: .65rem;
}

.form-control,
.btn-login {
  padding: .575rem .75rem;
}

.form-group,
.form-control,
.btn-login {
  font-size: .895rem;
}

.btn-login {
  margin-top: 1.75rem;
  font-weight: 600;
}

.btn.spinner {
  display: inherit;
}

.btn.spinner::before {
  left: calc(50% - 40px);
}

.btn-yellow.spinner::before {
  border-color: #ffe48d;
  border-top-color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #363839;
  color: #e5e5e5;
  font-size: .85rem;
  text-align: center;
}

.footer-link {
  color: rgba(255,255,255,0.5);
  transition: color .3s ease-in-out;
}

.footer-link:first-of-type {
  padding-left: 8px;
}

.footer-link:hover {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}
