body {
  /* padding-bottom: 3.5rem; */
  color: #33373d;
  background-color: #f3f3f3;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

/* Buttons */

.btn-yellow {
  color: #fff;
  background-color: rgba(232, 205, 116, 1);
  border-color: rgba(232, 205, 116, 1);
}

.btn-yellow:hover {
  color: #fff;
  background-color: rgb(243, 202, 68);
  border-color: rgb(243, 202, 68);
}

.btn-yellow:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 205, 116, .5);
}

.btn-light.w-border {
  border-color: #dae0e5;
}

.banner {
  height: 180px;
  background: url('../img/brackground-natural-landscape.jpg') rgba(96, 96, 96, 0.5) no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.title-wrapper {
  background-color: #606060;
}

.breadcrumb {
  padding: .75rem 0;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-weight: 600;
}

.breadcrumb-item a {
  color: #e5e5e5;
}

.breadcrumb-item.active {
  color: #e9cd75;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #e5e5e5;
}

@media (max-width: 480px) {
.breadcrumb {
    display: none;
  }
  .breadcrumb2 {
    display: flex;
    margin-bottom: 0;
  }
  .breadcrumb-item:not(:first-child):not(:nth-last-child(2)):not(:last-child) {
    display: none;
  }
}

.navbarToggle {
  display: none;
}

@media (max-width: 480px) {
  .navbarToggle {
    display: block;
  }
}

.responsive-navbar {
  margin-bottom: 1.5rem;
  padding: .5rem 0;

}

.logout {
  position: absolute;
  top: 192px;
  right: 290px;
  color: #e5e5e5;
  font-weight: 600;
}

@media (max-width: 480px) {
  .logout {
    display: none;
  }
}

.logout-icon {
  position: relative;
  display: inline-block;
  top: 2px;
}

.logout:hover {
  text-decoration: none;
  color: #e5e5e5;
}

.brand-logo {
  position: absolute;
  top: 182px;
  right: 96px;
  height: 48px;
  transition: all .25s ease;
}

@media (max-width: 991px) {
  .logout {
    right: 220px;
  }
  .brand-logo {
    right: 74px;
  }
}

@media (max-width: 767px) {
  .logout {
    right: 160px;
  }
  .brand-logo {
    right: 15px;
  }
}

@media (max-width: 575px) {
  .logout {
    right: 160px;
  }
  .brand-logo {
    right: 15px;
  }
}

@media (max-width: 480px) {
  .logout {
    right: 148px;
  }
  .brand-logo {
    top: 168px;
    height: 70px;
  }
}

.title-section {
  margin-bottom: 1.275rem;
  font-size: 1.4rem;
}

.title-section small {
  padding-left: 10px;
  font-size: 50%;
}

.title-section input[type=checkbox] {
  position: relative;
  top: 2px;
}

.greeting-text {
  margin-bottom: 2rem;
  font-size: .9rem;
}

/* Product Cards */

.top-product-card {
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.top-product-card a {
  border-radius: .25rem;
  text-decoration: none;
}

.top-product-card a::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'></polyline></svg>") rgba(232, 205, 116, 0.95) no-repeat center;
  z-index: 1;
  opacity: 0;
}

.top-product-card a.active {
  box-shadow: 0 0 0 0.2rem rgba(232, 205, 116, 0.5);
  transition: all .3s;
}

.top-product-card a.active::before {
  opacity: 1;
  transition: all .3s;
}

/*.top-product-card a.active .card-img-top, .top-product-card a:hover .card-img-top {
  transform: scale(.7);
  transition: 1s;
}*/

.top-product-card .card-img-top {
  transform: scale(.9);
  /* transition: 1s; */
}

.top-product-card .card-body {
  padding: 1rem .75rem;
  padding-top: 0;
  color: #33373d;
  text-align: center;
}

.top-product-card .card-title {
  margin-bottom: .5rem;
  font-weight: bold;
  font-variant: normal;
  font-size: 13px;
}

.top-product-card .card-price {
  font-size: 14px;
}

/* Product Details */

.product-tab {
  font-size: .85rem;
}

.product-tab.nav-tabs {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cdcdcd;
}

.product-tab .nav-link {
  padding-left: 0;
  color: #33373d;
}

.product-tab .nav-link.active {
  border-color: transparent;
  border-bottom: 1px solid #007bff;
  background-color: transparent;
  color: #007bff;
}

.product-tab .nav-link.active:hover {
  border-bottom: 1px solid #007bff;
  color: #007bff;
}

.product-tab .nav-link:hover {
  border: 1px solid transparent;
  color: #33373d;
}

.product-tab-content .product-title,
.cart-summary .product-title {
  margin-bottom: .25rem;
  font-size: 14px;
  font-weight: 600;
}

.product-tab-content .product-description,
.cart-summary .product-description {
  margin-bottom: 0;
  font-size: .85rem;
}

.product-tab-content ul {
  font-size: .85rem;
  padding-left: 1.5rem;
}

/* Shopping Cart */

@media (max-width: 767px) {
  .warenkorb-wrapper {
    padding-bottom: 16rem;
  }
}

.cart-empty {
  margin-top: 1rem;
  text-align: center;
}

.cart-empty .card-body {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.cart-empty,
.cart-item {
  font-size: .85rem;
}

.cart-item .core-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item .image-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  margin-right: 2rem;
}

.cart-item .details-container {
  padding-right: 150px;
}

.cart-item .article-name {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.3;
}

.cart-item .article-description {

}

.cart-item .price-row {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: .9rem;
  font-weight: bold;
}

.cart-item .options-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  right: 1.25rem;
  bottom: 1.25rem;
}

.cart-item .product-remove::before {
  content: "";
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0 .75rem;
}

.cart-item .quantity-changer {
  margin-right: .725rem;
}

@media (max-width: 767px) {
  .cart-item .image-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
  }
  .cart-item .details-container {
    padding-right: 0;
  }
  .cart-item .options-wrapper {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .cart-item .quantity-changer {
    margin: 0;
  }
}

.payment-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.payment-methods .item-method {
  width: 50px;
  height: 30px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../img/icons/credit-cards.png);
  background-size: 202px 318px;
}

.payment-methods .item-method+.item-method {
  margin-left: 6px;
}

.payment-methods .item-method.visa {
  background-position: -52px -14px;
}

.payment-methods .item-method.mastercard {
  background-position: 0 -14px;
}

.payment-methods .item-method.cash {
  background-position: 0 -46px;
}

.payment-methods .item-method.amex {
  background-position: -104px -14px;
}

.payment-methods .item-method.apple {
  background-position: -104px -46px;
}

.payment-methods .item-method.paypal {
  background: url(../img/icons/paypal-credit-card.jpg) no-repeat;
  background-position: center;
  background-size: 96%;
  filter: grayscale(.857);
  opacity: .857;
}

.cart-summary {
  margin-bottom: .5rem;
  font-size: .85rem;
  z-index: 1;
}

.cart-summary .summary-title {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .cart-summary {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
  }
  .cupon-code {
    display: none;
  }
}

.checkout-message {
  font-size: .575rem;
}

/* Customer Information */
.customer-form .form-control {
  font-size: .85rem;
}

#discountCodeHelpBlock {
  display: none;
}

.btn-light.w-border {
  border-left: 0;
  border-color: #dae0e5;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.btn.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.btn-primary.spinner:before {
  border-color: #66a2ff;
  border-top-color: #d8d8d8;
}

.btn.spinner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px !important;
}


a.membershipCard-js[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.footer {
  margin-top: 3.5rem;
  padding: 10px 0;
  width: 100%;
  background-color: #363839;
  color: #e5e5e5;
  font-size: .85rem;
  text-align: center;
}

.footer-link {
  color: rgba(255,255,255,0.5);
  transition: color .3s ease-in-out;
}

.footer-link:first-of-type {
  padding-left: 8px;
}

.footer-link:hover {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}
