{% extends 'default/index.html.twig' %}

{% set itemsQuantity = (order is defined) ? order.items|length : '0' %}
{% set artikelWord = (itemsQuantity == 1) ? 'Artikel' : 'Artikel' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Warenkorb</li>
{% endblock %}

{% block main %}
  <h1 class="title-section">Warenkorb (<span id="itemsQuantity">{{ itemsQuantity }}</span> {{ artikelWord }})</h1>

  <form class="row warenkorb-wrapper" action="/customer-information/" method="post">

    {% if order is defined %}

      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        {% for item in order.items %}

          <div class="card cart-item mb-2">
            {% if (item.id == 'armband') %}
              <input type="hidden" name="articles[1][name]" value="{{ item.id }}">
              <input type="hidden" id="armbandPrice" value="{{ item.price }}">
            {% else %}
              <input type="hidden" name="articles[0][name]" value="{{ item.id }}">
              <input type="hidden" id="membershipPrice" value="{{ item.price }}">
            {% endif %}

            <div class="card-body core-row">
              <a class="image-container">
                <img class="img-fluid" src="{{ item.image }}">
              </a>
              <div class="details-container">
                <div class="article-name">
                  <span id="articleName-js">{{ item.name }}</span>
                </div>
                <div class="article-description text-muted">{{ item.description }}</div>
                <div class="price-row">{{ item.price }} {{order.currency}}</div>
              </div>
            </div>

            <div class="options-wrapper">
              <div class="quantity-changer">Menge
                {% if (item.id == 'armband') %}
                  <select name="articles[1][quantity]" id="armbandQuantity">
                    {% for i in 1..5 %}
                      {% if i == item.quantity %}
                        <option value="{{i}}" selected>{{i}}</option>
                      {% else %}
                        <option value="{{i}}">{{i}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                {% else %}
                  <input type="hidden" name="articles[0][quantity]" id="membershipQuantity" value="{{ item.quantity }}">
                  <select disabled>
                    <option value="{{ item.quantity }}" selected>{{ item.quantity }}</option>
                  </select>
                {% endif %}
              </div>
              <div class="text-muted">
                {# {% set userSession = app.session.get('user_session') %}
                {% if userSession.currentPlan.type == 'gratis' %}

                  {% if (item.id == 'armband') %}
                    <a href="/" class="armband">Entfernen</a>
                  {% else %}
                    <a href="/" class="">Entfernen</a>
                  {% endif %}

                {% else %}
                  <a href="/" class="armband">Entfernen</a>
                {% endif %} #}
                <a href="/remove-article/{{ item.id }}">Entfernen</a>

              </div>
            </div>

          </div>

        {% endfor %}
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <div class="card cart-summary">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-block mb-1">
                <span class="summary-title text-muted">
                  <strong>Bestellübersicht</strong>
                </span>
              </div>
              <div class="d-block">
                <div class="d-inline-block">
                  <span>Zwischensumme (Inkl. 19% MwSt)</span>
                </div>
                <div class="d-inline-block float-right">
                  <span id="orderSubtotal">{{ order.subtotal }}</span> <span>{{ order.currency }}</span>
                </div>
              </div>
              <div class="d-block">
                <div class="d-inline-block">
                  <span>Versand</span>
                </div>
                <div class="d-inline-block float-right">
                  {# <span>kostenfrei</span> #}
                  <span id="orderShippingPrice">{{ order.shippingPrice }}</span> <span>{{ order.currency }}</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-inline-block">
                <span>
                  <strong>Gesamt Brutto</strong>
                </span>
              </div>
              <div class="d-inline-block float-right">
                <strong>
                  <span id="orderTotal">{{ order.total|number_format(2, '.', ',') }}</span> <span>{{ order.currency }}</span>
                </strong>
              </div>
            </li>
          </ul>

          <div class="card-body">
            <div class="input-group cupon-code">
              {% if discountCode %}
                <input class="form-control form-control-sm" name="discountCode" id="discountCode" type="text" placeholder="{{ discountCode }}" aria-label="Referenznummer" value="" disabled>
                <span class="input-group-btn">
                  <button class="btn btn-light btn-sm w-border d-flex" id="checkDiscountCode" type="button" disabled>
                    <svg width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                  </button>
                </span>
              {% else %}
                <input class="form-control form-control-sm" name="discountCode" id="discountCode" type="text" maxlength="6" placeholder="Referenznummer" aria-label="Referenznummer">
                <span class="input-group-btn">
                  <button class="btn btn-light btn-sm w-border" id="checkDiscountCode" type="button">Prüfen</button>
                </span>
              {% endif %}
            </div>
            <small id="discountCodeHelpBlock" class="form-text text-danger">
              Dies ist keine hinterlegte Referenznummer
            </small>
            <button type="submit" class="btn btn-yellow btn-block mt-2">Lieferadresse</button>
          </div>
        </div>

        <p class="checkout-message text-muted text-justify">
            Unser Zahlungssystem ist absolut sicher. Ihre persönlichen und
            Zahlungsinformationen werden sicher über eine 128-Bit-Verschlüsselung übertragen.
            Wir speichern keine Zahlungskarteninformationen auf unseren Systemen.
        </p>

        <ul class="payment-methods">
          <li class="item-method paypal">PP</li>
          <li class="item-method visa">Visa</li>
          <li class="item-method mastercard">Mastercard</li>
          <!-- <li class="item-method cash">Cash</li> -->
        </ul>

      </div>

    {% else %}

      <div class="col-sm-12">
        <div class="card cart-empty">
          <div class="card-body">
            <img src="{{ asset('assets/img/icons/shopping-cart.svg') }}" alt="Empty Cart Image">
            <div class="d-block mb-2">
              <strong class="text-uppercase text-muted">IHR WARENKORB IST LEER</strong>
            </div>
            <div class="d-block">
              Wir haben einige tolle Angebote, die in Ihrem Warenkorb gut aussehen werden..
            </div>
            <div class="d-block">
              Klicken Sie
              <a href="/">hier</a> um jetzt zu kaufen

            </div>
          </div>
        </div>
      </div>

    {% endif %}

  </form>
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="{{ asset('assets/js/cart.js') }}"></script>
{% endblock %}
