{% extends 'base.html.twig' %}

{% block body %}

  <header>
    <div class="banner"></div>

    <div class="title-wrapper">
      <div class="container">

        <div class="navbarToggle">

          <nav class="navbar responsive-navbar">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
              data-target="#responsiveNavbar" aria-controls="navbarToggleExternalContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>

          <div class="collapse" id="responsiveNavbar">
            <div class="pt-1 pb-4" style="margin-bottom: 1.5rem;">
              <ul style="list-style: none;margin-bottom: 0;">
                <li>
                  <ol class="breadcrumb breadcrumb2">
                    {% block breadcrumb2 %}
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                    {% endblock %}
                  </ol>
                </li>
                <li>
                  <a class="" href="{{path('logout')}}" style="color:#e5e5e5">Ausloggen
                    <span class="logout-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-log-out">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% block breadcrumb %}
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            {% endblock %}
          </ol>
        </nav>

        <a class="logout" href="{{path('logout')}}">Ausloggen <span class="logout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></span></a>

        <a href="/">
          <img class="brand-logo" src="{{ asset('assets/img/bodyguard-logo.png') }}" alt="BodyGuard Logo">
        </a>

      </div>
    </div>
  </header>

  <main class="container">
    {% block main %}

      <div class="greeting-text">
        Hier kannst Du Deine Mitgliedschaft kostenpflichtig erweitern. Erwerbe direkt ein Trägermedium zu Deinem Tarif für eine optimale Nutzung.
      </div>

      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">

          <h2 class="title-section">Mitgliedschaft</h2>
          <div class="row">
            {% if memberships is defined  %}
              {% for membership in memberships  %}

                <!-- List just memberships -->
                {% if membership.tipo != 0  %}
                  <div class="col-sm-6 col-md-4 col-lg-4">

                    <div class="card top-product-card">
                      <a href="#" class="membershipCard-js" data-id="{{ membership.id }}" data-name="{{ membership.name }}" data-description="{{ membership.description }}" data-description-one="{{ membership.description1 }}" {{ status }}>
                        <div class="card-img">
                          <img class="card-img-top" src="{{ asset(membership.image) }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <h6 class="card-title text-muted"> {{ membership.name }}</h6>
                          <div class="card-price">{{ membership.price }} EUR</div>
                        </div>
                      </a>
                    </div>

                  </div>
                {% endif %}

              {% endfor %}
            {% endif %}
          </div>

          <h2 class="title-section mt-4">Trägermedium</h2>
          <div class="row">
            {% for membership in memberships %}

              <!-- List just armbands -->
              {% if membership.tipo == 0  %}
                <div class="col-sm-6 col-md-4 col-lg-4">

                  <div class="card top-product-card">
                    <a href="#" class="armbandCard-js" data-id="{{ membership.id }}" data-name="{{ membership.name }}" data-description="{{ membership.description }}">
                      <div class="card-img">
                        <img class="card-img-top" src="{{ asset(membership.image) }}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h6 class="card-title text-muted"> {{ membership.name }}</h6>
                        <div class="card-price">{{ membership.price }} EUR</div>
                      </div>
                    </a>
                  </div>

                </div>
              {% endif %}

            {% endfor %}
          </div>

        </div>

        <div class="col-sm-12 col-md-12 offset-md-1 col-lg-4 offset-xl-1 col-xl-4">
          {% if memberships is defined %}

            <h2 class="title-section">&nbsp;</h2>

            <div class="card cart-summary">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">

                  <div class="d-block mb-2">
                    <span class="summary-title text-muted">
                      {% set planType = (currentPlan.type == 'gratis') ? 'kostenlose' : currentPlan.type %}
                      <input id="currentPlan" type="hidden" value="{{ currentPlan.type }}">
                      <input id="planStatus" type="hidden" value="{{ currentPlan.status }}">
                      <strong>Mein aktueller Tarif </strong>
                      <strong class="float-right text-dark">{{ planType }}</strong>
                    </span>
                  </div>

                  <div class="d-block">
                    <div class="d-inline-block">
                      <span>Speicherplatz</span>
                    </div>
                    <div class="d-inline-block float-right">
                      <span>{{ currentPlan.sizeStorage }} MB </span>
                    </div>
                  </div>

                  <div class="d-block">
                    <div class="d-inline-block">
                      <span>Endtermin</span>
                    </div>
                    <div class="d-inline-block float-right">
                      <span>{{ currentPlan.endDate|date("j F Y", "Europe/Berlin") }}</span>
                    </div>
                  </div>

                </li>
              </ul>
            </div>

            <div class="card cart-summary">
              <form action="/cart/" method="post">

                <ul class="list-group list-group-flush">
                  <li class="list-group-item">

                    <div class="d-block mb-3">
                      <span class="summary-title text-muted">
                        <strong>Dein Upgrade</strong>
                      </span>
                    </div>

                    <div class="d-block">
                      <div class="membershipDataContent"></div>

                      <div class="armbandDataContent mt-3"></div>
                    </div>

                  </li>
                </ul>

                <div class="card-body">
                  <button type="submit" class="btn btn-yellow btn-block">In den Warenkorb</button>
                </div>

              </form>
            </div>

          {% endif %}
        </div>

      </div>

    {% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      Copyright © 2017 by Vorsorge365 GmbH. Designed by: bluemediahouse GmbH.
      <a class="footer-link" href="https://bodyguard4life.de/impressum/" target="_blank">IMPRESSUM</a>
      <a class="footer-link" href="https://bodyguard4life.de/datenschutz/" target="_blank">DATENSCHUTZ</a>
    </div>
  </footer>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
