{% extends 'base.html.twig' %}

{% block title %}Loggen sie sich bei · Bodyguard4Life{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}

  <div class="background-bg">

    <main class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">

          <div class="card login-wrapper">
            <div class="card-body">
              <div class="login-logo">
                <img src="{{ asset('assets/img/bodyguard-logo.png') }}" alt="">
              </div>

              <form id="loginForm" action="{{ path('seguridad') }}" method="post">

                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="E-Mail-Adresse" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="pass" placeholder="Passwort" required>
                </div>

                <button type="submit" class="btn btn-yellow btn-block btn-login">Einloggen</button>

                <div class="mt-4 text-center">
                  <div class="d-block">
                    Haben Sie noch Kein Konto? <a href="https://login4sos.de/benutzerregistrieren.html">Hier Kostenlos anmelden</a>
                  </div>
                  <div class="d-block">
                    <a href="https://login4sos.de/passwortvergessen.html">Passwort Vergessen?</a>
                  </div>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        Copyright © 2017 by Vorsorge365 GmbH. Designed by: bluemediahouse GmbH.
        <a class="footer-link" href="https://bodyguard4life.de/impressum/" target="_blank">IMPRESSUM</a>
        <a class="footer-link" href="https://bodyguard4life.de/datenschutz/" target="_blank">DATENSCHUTZ</a>
      </div>
    </footer>

  </div>

{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="{{ asset('assets/js/login.js') }}"></script>
{% endblock %}
