{% extends 'default/index.html.twig' %}

{% block scripts %}
  <script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb2 %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/cart/">Warenkorb</a></li>
<li class="breadcrumb-item"><a href="/customer-information/">Lieferadresse</a></li>
<li class="breadcrumb-item active" aria-current="page">Kasse</li>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/cart/">Warenkorb</a></li>
{# <li class="breadcrumb-item"><a href="/cart/{{ app.session.get('idMembership') }}">Warenkorb</a></li> #}
<li class="breadcrumb-item"><a href="/customer-information/">Lieferadresse</a></li>
<li class="breadcrumb-item active" aria-current="page">Kasse</li>
{% endblock %}

{% block main %}
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <h2 class="title-section">Zahlungsarten</h2>
      <div class="card">
        <div class="card-body">
          <div id="ppplus"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 offset-lg-1 col-lg-4 offset-xl-1 col-xl-4">

      <h2 class="title-section">&nbsp;</h2>

      <div class="card cart-summary">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-block mb-1">
              <span class="summary-title text-muted">
                <strong>Kontaktinformation</strong>
              </span>
            </div>
            <div class="d-block">
              {{ customerData.buyerEmail}}
            </div>
            <div class="d-block">
              {{ customerData.buyerPhone }}
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-block mb-1">
              <span class="summary-title text-muted">
                <strong>Lieferanschrift & RECHNUNGSANSCHRIFT</strong>
              </span>
            </div>
            <div class="d-block">
              {{ customerData.firstName }} {{ customerData.lastName }}
            </div>
            <div class="d-block">
              {{ customerData.address1 }} {{ customerData.address2 }} {{ customerData.state
              }}
            </div>
            <div class="d-block">
              {{ customerData.city }} {{ customerData.zip }}
            </div>
            <div class="d-block">
              {{ customerData.country }}
            </div>
          </li>
        </ul>
      </div>

      <div class="card cart-summary">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-block mb-1">
              <span class="summary-title text-muted">
                <strong>Bestellübersicht</strong>
              </span>
            </div>
            <div class="d-block">
              <div class="d-inline-block">
                <span>Zwischensumme (Inkl. 19% MwSt)</span>
              </div>
              <div class="d-inline-block float-right">
                <span>{{ order.subtotal }} {{ order.currency }}</span>
              </div>
            </div>
            <div class="d-block">
              <div class="d-inline-block">
                <span>Versand</span>
              </div>
              <div class="d-inline-block float-right">
                <span>{{ order.shippingPrice }} {{order.currency}}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-inline-block">
              <span>
                <strong>Gesamt Brutto</strong>
              </span>
            </div>
            <div class="d-inline-block float-right">
              <span>
                <strong>{{ order.total|number_format(2, '.', ',') }} {{ order.currency }}</strong>
              </span>
            </div>
          </li>
        </ul>

        <div class="card-body">
          <button type="submit" class="btn btn-yellow btn-block" onclick="PAYPAL.apps.PPP.doCheckout();">
            <span class="dripicons-lock icon"></span> Zur Kasse
          </button>
        </div>
      </div>

      <p class="checkout-message text-muted text-justify">
        Unser Zahlungssystem ist absolut sicher. Ihre persönlichen und
        Zahlungsinformationen werden sicher über eine 128-Bit-Verschlüsselung übertragen.
        Wir speichern keine Zahlungskarteninformationen auf unseren Systemen.

      </p>

      <ul class="payment-methods">
        <li class="item-method paypal">PP</li>
        <li class="item-method visa">Visa</li>
        <li class="item-method mastercard">Mastercard</li>
        <!-- <li class="item-method cash">Cash</li> -->
      </ul>

    </div>

  </div>

  <script type="application/javascript">
		var ppp = PAYPAL.apps.PPP({
      "approvalUrl": {{app.session.get('approvalURL')|json_encode()|raw}},
			"placeholder": "ppplus",
			"buttonLocation": "outside",
			"preselection": "none",
			"language": "de_DE",
			"mode": "sandbox",
			"country": "DE"
		});
	</script>
{% endblock %}

{% block javascripts %}{% endblock %}
