{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

  <div class="text-center mb-5">
    <div style="margin-bottom: 1.275rem">
      <img src="{{ asset('assets/img/icons/check-circle.svg') }}" alt="Empty Cart Image">
    </div>
    <div>
      <h4 class="">
        <br> Vielen Dank für den Kauf!</h4>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <div class="card login-wrapper">
        <div class="card-body">

          Geh zum Laden
          <a href="{{path('index')}}">Shop</a>
            <!-- <link rel="canonical" href="http://www.mydomain.com/new-page.html"> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <div class="card login-wrapper">
        <div class="card-body">

          Drücken Sie bitte den folgenden Button, um Sie zum System weiterzuleiten.
          <a href="https://login4sos.de/">Zum login4sos.de</a>
            <!-- <link rel="canonical" href="http://www.mydomain.com/new-page.html"> -->
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
